#editor-js {
    width: 100%;
}

.editor-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-inline: auto;
    width: 100%;
}

.editor-header-container {
    width: 100%;
}

.editor-body-container {
    width: 100%;
}

.editor-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-inline: auto;
    padding-block: 0.5rem;
    padding-inline: 1.75rem;
    align-items: center; 
    text-align: center;
}

.actions-container {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
    align-items: center;
}