.editor-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    align-items: center; 
    text-align: center;
}

.actions-container {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
    align-items: center;
}